<div class="row">
	<div class="col-sm-3">
		<div pg-form-group class="form-group form-group-default required" ng-class="{ 'has-error' : list2DataForm.title.$invalid && !list2DataForm.title.$pristine }">
            <label>Title</label>
            <input type="text" class="form-control" name="title" ng-model="detailsList[$rootScope.itemno].title" required>
        </div>
        <label class="error" for="title" ng-show="list2DataForm.title.$invalid && !list2DataForm.title.$pristine">This field is required.</label>
	</div>
    <div class="col-sm-7">
        <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : list2DataForm.content.$invalid && !list2DataForm.content.$pristine }">
            <label>Content</label>
            <input type="text" class="form-control" name="content" ng-model="detailsList[$rootScope.itemno].data" required>
        </div>
        <label class="error" for="content" ng-show="list2DataForm.content.$invalid && !list2DataForm.content.$pristine">This field is required.</label>
    </div>
    <div class="col-sm-2">
    	<button class="btn btn-success" ng-click="addItemToDTlist()" type="submit">add</button>
    </div>
</div>